@import "./styles/grid";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
header,
nav,
section,
footer {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.header-content {
  border-bottom: 1px solid rgb(139, 138, 138);
  padding: 10px 10px;
  margin-bottom: 50px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px auto;
  &__item {
    width: 300px;
    height: 300px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid rgb(238, 238, 238);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
    &_complete {
      background: rgb(248, 248, 248);
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
  }
  &__checkbox {
    position: absolute;
    top: -10px;
    right: -10px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
  }
  &__description {
    height: 80px;
    font-size: 18px;
    margin: 20px 0;
  }
  &__bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &__option {
    padding: 5px;
  }
  &__priority {
    width: 40%;
    font-size: 20px;
    padding: 10px 10px;
    width: 40px;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 10px;
    top: 50%;
    width: 50%;
    height: 10%;
    margin-top: 50px;
  }
  &__buttons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    bottom: 10px;
    right: 10px;
  }
  &__button {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    height: 30px;
    width: 60px;
    cursor: pointer;
    font-size: 85%;
    outline: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 0.4);
  &__content {
    background-color: rgb(254, 254, 254);
    padding: 20px;
    border: 1px solid rgb(135, 135, 135);
    max-width: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
  }
  &__title {
    width: 100%;
    margin: 5px 0 15px 0;
    padding: 10px;
  }
  &__desctiption {
    width: 100%;
    margin: 5px 0 15px 0;
    padding: 15px;
  }
  &__priority {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  &__select {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    background-size: 2.4rem;
  }
  &__btn-block {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &__btn {
    background: transparent;
    padding: 10px 20px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 5px;
    cursor: pointer;
  }
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  &__search {
    width: 300px;
    padding: 10px 10px 10px 35px;
    background-image: url("img/search.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 2% center;
  }
  &__complite {
    width: 180px;
    cursor: pointer;
    padding: 10px;
  }
  &__priority {
    width: 180px;
    cursor: pointer;
    padding: 10px;
  }
  &__btn {
    background: transparent;
    padding: 10px 40px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 5px;
    cursor: pointer;
  }
}

.footer-content {
  border-top: 1px solid rgb(139, 138, 138);
}

.author {
  color: rgb(139, 138, 138);
  padding: 20px 0;
  display: inline-block;
}

input,
select,
button {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

button:hover {
  border-color: rgb(43, 140, 250);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("img/select-down-arrow.svg");
  background-size: 2.4rem;
  background-repeat: no-repeat;
  background-position: right center;
}

input[type="text"],
textarea,
select {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  font-size: 100%;
  color: gray;
}

input[type="checkbox"] {
  border-radius: 0;
}

#list .list__item input[type="text"] {
  width: 100%;
  padding: 9px 8px;
  color: rgb(68, 68, 68);
  outline: none;
  border-radius: 0;
  cursor: context-menu;
  border: none;
}

#list .list__item #listPriority {
  width: 40%;
  text-align: center;
  border: 1px dashed rgb(143, 141, 141);
  border-radius: 5px;
}

#list .list__item #listPriority.input-border {
  border: 1px solid rgb(204, 204, 204);
}

#list .list__item input[type="text"].input-border {
  border: 1px solid rgb(204, 204, 204);
}

#list .list__item_complete input[type="text"] {
  background: rgb(248, 248, 248);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#mainList .hide {
  margin-bottom: 0;
  padding: 0 20px 0 20px;
  opacity: 0;
  height: 0;
}

#mainList {
  min-height: 50vh;
}

#mainList .complete {
  text-decoration: line-through;
}

.move-pulsate {
  -webkit-animation: pulsate 0.5s ease-in-out;
  animation: pulsate 0.5s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.4;
  }
}

@media screen and (max-width: 992px) {
  .form {
    flex-direction: column;
    &__search {
      width: 100%;
      background-position: 1% center;
      margin-bottom: 2rem;
    }
    &__complite {
      width: 100%;
      margin-bottom: 2rem;
    }
    &__priority {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
}
