.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; } }

.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-flex {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.main_article,
.main_aside {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 992px) {
  .main_article {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .main_aside {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; } }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
header,
nav,
section,
footer {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif; }

.header-content {
  border-bottom: 1px solid black;
  padding: 10px 10px;
  margin-bottom: 50px; }

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto; }
  .list__item {
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 10px 10px;
    margin: 10px;
    border: 1px solid #eeeeee;
    opacity: 1;
    transition: all 0.5s ease;
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16); }
    .list__item_complete {
      background: #f8f8f8; }
  .list__checkbox {
    position: absolute;
    top: -10px;
    right: -10px; }
  .list__title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0; }
  .list__description {
    height: 80px;
    font-size: 18px;
    margin: 20px 0; }
  .list__bottom-section {
    display: flex;
    justify-content: space-between; }
  .list__option {
    padding: 5px; }
  .list__priority {
    width: 40%;
    font-size: 20px;
    padding: 10px 10px;
    width: 40px;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 10px;
    top: 50%;
    width: 50%;
    height: 10%;
    margin-top: 50px; }
  .list__buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 10px;
    right: 10px; }
  .list__button {
    background-color: white;
    border: 1px solid #cccccc;
    height: 30px;
    width: 60px;
    cursor: pointer;
    font-size: 85%;
    outline: none; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(246, 246, 246, 0.4); }
  .modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #878787;
    width: 20%;
    -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.16); }
  .modal__title {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px; }
  .modal__desctiption {
    width: 100%;
    padding: 15px; }
  .modal__priority {
    display: flex;
    justify-content: center;
    width: 100%; }
  .modal__select {
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer; }
  .modal__btn-block {
    margin-top: 45px;
    display: flex;
    justify-content: space-between; }
  .modal__btn {
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #111111;
    border-radius: 5px;
    cursor: pointer; }

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form {
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-evenly; }
  .form__search {
    width: 300px;
    padding: 10px 10px 10px 35px;
    background-image: url(./assets/images/search.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 2% center; }
  .form__complite {
    width: 180px;
    cursor: pointer;
    padding: 10px; }
  .form__priority {
    width: 180px;
    cursor: pointer;
    padding: 10px; }
  .form__btn {
    background: transparent;
    padding: 10px 40px;
    border: 1px solid #111111;
    border-radius: 5px;
    cursor: pointer; }

input,
select,
button {
  outline: none; }

textarea {
  resize: none;
  outline: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(./assets/images/select-down-arrow.svg);
  background-size: 21%;
  background-repeat: no-repeat;
  background-position: right center; }

input[type="text"],
textarea,
select {
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 100%;
  color: gray; }

input[type="checkbox"] {
  border-radius: 0; }

#list .list__item input[type="text"] {
  width: 100%;
  padding: 9px 8px;
  color: #444444;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: context-menu;
  border: none; }

#list .list__item #listPriority {
  width: 40%;
  text-align: center;
  border: 1px dashed #8f8d8d;
  border-radius: 5px; }

#list .list__item #listPriority.input-border {
  border: 1px solid #cccccc; }

#list .list__item input[type="text"].input-border {
  border: 1px solid #cccccc; }

#list .list__item_complete input[type="text"] {
  background: #f8f8f8; }

#main .hide {
  margin-bottom: 0;
  padding: 0 20px 0 20px;
  opacity: 0;
  height: 0; }

#main .complete {
  text-decoration: line-through; }

.move-pulsate {
  animation: pulsate 0.5s ease-in-out;
  animation-iteration-count: 1; }

@keyframes pulsate {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 0.4; } }

.is-hidden {
  display: none; }


/*# sourceMappingURL=index.css.map*/